<div class="keyboard">
    <div class="keyboard-row">
        <app-key key="Q" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="W" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="E" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="R" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="T" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="Y" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="U" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="I" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="O" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="P" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
    </div>
    <div class="keyboard-row">
        <app-key key="A" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="S" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="D" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="F" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="G" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="H" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="J" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="K" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="L" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
    </div>
    <div class="keyboard-row">
        <app-key key="ENTER" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="Z" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="X" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="C" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="V" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="B" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="N" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="M" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
        <app-key key="BACK" class="key" (onKeyClickEvent)="onKeyPressed($event)"></app-key>
    </div>
</div>