<div class="letter-grid">
    <div class="letter-grid-row">
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
    </div>
    <div class="letter-grid-row">
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
    </div>
    <div class="letter-grid-row">
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
    </div>
    <div class="letter-grid-row">
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
    </div>
    <div class="letter-grid-row">
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
        <app-letter class="w-100"></app-letter>
    </div>
</div>