.letter {
  background-color: lightsteelblue;
  width: 100%;
  color: white;
  font-size: 2rem;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}